/* @import url(http://fonts.googleapis.com/css?family=Montserrat); */
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding:0; }

html {
  font-weight: 300;}
  @media only screen and (min-width: 0px) {
    html {
      line-height: 0.8rem; } }
  @media only screen and (min-width: 30px) {
    html {
      line-height: 0.904rem; } }
  @media only screen and (min-width: 60px) {
    html {
      line-height: 1.008rem; } }
  @media only screen and (min-width: 90px) {
    html {
      line-height: 1.112rem; } }
  @media only screen and (min-width: 120px) {
    html {
      line-height: 1.216rem; } }
  @media only screen and (min-width: 150px) {
    html {
      line-height: 1.32rem; } }
  @media only screen and (min-width: 180px) {
    html {
      line-height: 1.424rem; } }
  @media only screen and (min-width: 210px) {
    html {
      line-height: 1.528rem; } }
  @media only screen and (min-width: 240px) {
    html {
      line-height: 1.632rem; } }
  @media only screen and (min-width: 270px) {
    html {
      line-height: 1.736rem; } }
  @media only screen and (min-width: 300px) {
    html {
      line-height: 1.84rem; } }
  @media only screen and (min-width: 330px) {
    html {
      line-height: 1.944rem; } }
  @media only screen and (min-width: 360px) {
    html {
      font-size: 0.36rem; } }
  @media only screen and (min-width: 390px) {
    html {
      font-size: 0.39rem; } }
  @media only screen and (min-width: 420px) {
    html {
      font-size: 0.42rem; } }
  @media only screen and (min-width: 450px) {
    html {
      font-size: 0.45rem; } }
  @media only screen and (min-width: 480px) {
    html {
      font-size: 0.48rem; } }
  @media only screen and (min-width: 510px) {
    html {
      font-size: 0.51rem; } }
  @media only screen and (min-width: 540px) {
    html {
      font-size: 0.54rem; } }
  @media only screen and (min-width: 570px) {
    html {
      font-size: 0.57rem; } }
  @media only screen and (min-width: 600px) {
    html {
      font-size: 0.6rem; } }
  @media only screen and (min-width: 630px) {
    html {
      font-size: 0.63rem; } }
  @media only screen and (min-width: 660px) {
    html {
      font-size: 0.66rem; } }
  @media only screen and (min-width: 690px) {
    html {
      font-size: 0.69rem; } }
  @media only screen and (min-width: 720px) {
    html {
      font-size: 0.72em; } }
  @media only screen and (min-width: 750px) {
    html {
      font-size: 0.75em; } }
  @media only screen and (min-width: 780px) {
    html {
      font-size: 0.78em; } }
  @media only screen and (min-width: 810px) {
    html {
      font-size: 0.81em; } }
  @media only screen and (min-width: 840px) {
    html {
      font-size: 0.84em; } }
  @media only screen and (min-width: 870px) {
    html {
      font-size: 0.87em; } }
  @media only screen and (min-width: 900px) {
    html {
      font-size: 0.9em; } }
  @media only screen and (min-width: 930px) {
    html {
      font-size: 0.93em; } }
  @media only screen and (min-width: 960px) {
    html {
      font-size: 0.96em; } }
  @media only screen and (min-width: 990px) {
    html {
      font-size: 0.99em; } }
  @media only screen and (min-width: 1020px) {
    html {
      font-size: 1.02em; } }
  @media only screen and (min-width: 1050px) {
    html {
      font-size: 1.05em; } }
  @media only screen and (min-width: 1080px) {
    html {
      font-size: 1.08em; } }
  @media only screen and (min-width: 1110px) {
    html {
      font-size: 1.11em; } }
  @media only screen and (min-width: 1140px) {
    html {
      font-size: 1.14em; } }
  @media only screen and (min-width: 1170px) {
    html {
      font-size: 1.17em; } }
  @media only screen and (min-width: 1200px) {
    html {
      font-size: 1.2em; } }
  /* @media only screen and (min-width: 1230px) {
    html {
      font-size: 1.23em; } }
  @media only screen and (min-width: 1260px) {
    html {
      font-size: 1.26em; } }
  @media only screen and (min-width: 1290px) {
    html {
      font-size: 1.29em; } }
  @media only screen and (min-width: 1320px) {
    html {
      font-size: 1.32em; } }
  @media only screen and (min-width: 1350px) {
    html {
      font-size: 1.35em; } }
  @media only screen and (min-width: 1380px) {
    html {
      font-size: 1.38em; } }
  @media only screen and (min-width: 1410px) {
    html {
      font-size: 1.41em; } }
  @media only screen and (min-width: 1440px) {
    html {
      font-size: 1.44em; } }
  @media only screen and (min-width: 1470px) {
    html {
      font-size: 1.47em; } }
  @media only screen and (min-width: 1500px) {
    html {
      font-size: 1.5em; } } */
  
input[type=text]:focus, input[type ="time"]:focus, input[type=password]:focus, input[type=email]:focus, input[type=url]:focus, input[type=date]:focus, input[type=tel]:focus, input[type=number]:focus, input[type=search]:focus, select:focus 
	{ 	outline: none;
		font-weight: 400;
		letter-spacing: 0.1rem;
		}
.input-field
	{  	margin-bottom: 1.5rem;
		padding: 0px;
		position: relative;
		}
label{ transition:all .4s ease; }
label{ position: absolute;
		height: 2rem; 
		line-height: 2.6rem;
  		font-weight: bold; 
  		background: transparent; 
  		padding: 0 0px; 
  		color: #f5f5f5; 
    	top: -2rem;
    	left: 0.75rem;
    	font-size: 0.7rem;
    	font-size: calc(0.8rem - 2px);
    	cursor: text;
    	}
input[type=text], input[type=password], input[type ="time"], input[type=email], input[type=url], input[type=date], input[type=tel], input[type=number], input[type=search], select
	{	width: 100%;
		height: 2rem; 
		padding: 0.4rem; 
		border: solid 1px rgb(150,150,150); 
  		padding-left: 0.5rem; 
  		font-size: 0.9rem; 
  		color: #424242; 
  		background: #fff; 
  		font-weight: 400;
		letter-spacing: 0.1rem;
		text-overflow:ellipsis;
  		}
input[type=text]:hover, input[type=password]:hover, input[type ="time"]:hover, input[type=email]:hover, input[type=url]:hover, input[type=date]:hover, input[type=tel]:hover, input[type=number]:hover, input[type=search]:hover, select:hover
	{	border: solid 1px rgb(0,0,0);
		}
input[type=text]:disabled, input[type=password]:disabled, input[type ="time"]:disabled, input[type=email]:disabled, input[type=url]:disabled, input[type=date]:disabled, input[type=tel]:disabled, input[type=number]:disabled, input[type=search]:disabled, select:disabled
	{	opacity: 0.4;
    	filter: alpha(opacity=40);
    	}
input[type=text]:hover + label, input[type=password]:hover + label, input[type ="time"]:hover + label, input[type=email]:hover + label, input[type=url]:hover + label, input[type=date]:hover + label, input[type=tel]:hover + label, input[type=number]:hover + label, input[type=search]:hover + label, select:hover + label
	{	color: #26a69a; 
		}
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type ="time"]:focus, input[type=url]:focus, input[type=date]:focus, input[type=tel]:focus, input[type=number]:focus, input[type=search]:focus, select:focus
	{ 	border-bottom: 2px solid teal; 
		}
.input-field input[type=text]:focus + label, .input-field input[type=password]:focus + label, .input-field input[type ="time"]:focus + label, .input-field input[type=email]:focus + label, .input-field input[type=url]:focus + label, .input-field input[type=date]:focus + label, .input-field input[type=tel]:focus + label, .input-field input[type=number]:focus + label, .input-field input[type=search]:focus + label, select:focus + label 
	{	color: #26a69a; 
		}

/* input[type="number"]:focus{ outline: none; }
.input-field{ margin-bottom: 40px; padding: 0px; position: relative; }
input[type="number"]{ width: 100%; height: 36px; padding: 5px; border: solid 1px rgb(150,150,150); 
  padding-left: 9px; font-size: 14px; color: #424242 ; background: #fff; font-weight: bold; }
input[type="number"]:hover{border: solid 1px rgb(0,0,0);}
input[type="number"]:disabled{opacity: 0.4;
    						filter: alpha(opacity=40);}
input[type="number"]:focus{ border-bottom: 2px solid teal; }

input[type="email"]:focus{ outline: none; }
.input-field{ margin-bottom: 40px; padding: 0px; position: relative; }
input[type="email"]{ width: 100%; height: 36px; padding: 5px; border: solid 1px rgb(150,150,150); 
  padding-left: 9px; font-size: 14px; color: #424242 ; background: #fff; font-weight: bold; }
input[type="email"]:hover{border: solid 1px rgb(0,0,0);}
input[type="email"]:disabled{opacity: 0.4;
    						filter: alpha(opacity=40);}
input[type="email"]:focus{ border-bottom: 2px solid teal; }

input[type="date"]:focus{ outline: none; }
.input-field{ margin-bottom: 40px; padding: 0px; position: relative; }
input[type="date"]{ width: 100%; height: 36px; padding: 5px; border: solid 1px rgb(150,150,150); 
  padding-left: 9px; font-size: 14px; color: #424242 ; background: #fff; font-weight: bold; }
input[type="date"]:hover{border: solid 1px rgb(0,0,0);}
input[type="date"]:disabled{opacity: 0.4;
    						filter: alpha(opacity=40);}
input[type="date"]:focus{ border-bottom: 2px solid teal; }

input[type="time"]:focus{ outline: none; }
.input-field{ margin-bottom: 40px; padding: 0px; position: relative; }
input[type="time"]{ width: 100%; height: 36px; padding: 5px; border: solid 1px rgb(150,150,150); 
  padding-left: 9px; font-size: 14px; color: #424242 ; background: #fff; font-weight: bold; }
input[type="time"]:hover{border: solid 1px rgb(0,0,0);}
input[type="time"]:disabled{opacity: 0.4;
    						filter: alpha(opacity=40);}
input[type="time"]:focus{ border-bottom: 2px solid teal; }

input[type="password"]:focus{ outline: none; }
.input-field{ margin-bottom: 40px; padding: 0px; position: relative; }
input[type="password"]{ width: 100%; height: 36px; padding: 5px; border: solid 1px rgb(150,150,150); 
  padding-left: 9px; font-size: 14px; color: #424242 ; background: #fff; font-weight: bold; }
input[type="password"]:hover{border: solid 1px rgb(0,0,0);}
input[type="password"]:disabled{opacity: 0.4;
    						filter: alpha(opacity=40);}
input[type="password"]:focus{ border-bottom: 2px solid teal; }

input[type="file"]:focus{ outline: none; }
.input-field{ margin-bottom: 40px; padding: 0px; position: relative; }
input[type="file"]{ width: 100%; height: 36px; padding: 5px; border: solid 1px rgb(150,150,150); padding-left: 9px; font-size: 14px; color: #424242 ; background: #fff; font-weight: bold; }
input[type="file"]:hover{border: solid 1px rgb(0,0,0);}
input[type="file"]:disabled{opacity: 0.4; filter: alpha(opacity=40);}
input[type="file"]:focus{ border-bottom: 2px solid teal; }
input[type="file"] {
    display: block !important;
    opacity: 0.8 !important;
    overflow: hidden !important;
} */

input[type=file] {
  cursor: pointer;
  width: 100%;
  font-size: 12px;
  overflow: hidden;
  text-align: right;
  padding: 8px 10px;
}

input[type=file]:before {
  width: 100;
  height: 32px;
  font-size: 24px;
  line-height: 20px;
  content: '\e7a5';
  font-family: "Material-Design-Icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  display: inline-block;
  margin-left: 20px;
} 

input[type=file]::-webkit-file-upload-button {
  visibility: hidden;
}


texarea:focus{ outline: none; }
textarea { width: 100%; min-height: 5rem; max-height: 5rem !important; padding-left: 0; border: solid 1px rgb(150,150,150); 
  font-size: 0.9rem; color: #424242 ; background: #fff; font-weight: 400; letter-spacing: 1px;}
textarea:hover{border: solid 1px rgb(0,0,0);}
textarea:disabled{opacity: 0.4; filter: alpha(opacity=40);}
textarea:focus{ border-bottom: 2px solid teal; padding-left: 5px;}
textarea:hover + label{color: teal;}
textarea:focus + label{color: teal;}

.bgbl{ 
	background-image: url("resources/img/body-bg.jpg");
    background-repeat: repeat-y;
}

input[type="radio"] {
  appearance: none;
  margin: 0.32rem;
  width: 1.3rem;
  height: 1.3rem;
  background: #eeeeee;
  box-shadow: inset 0 0 0 .8rem white, 0 0 0 .3rem;
  border-radius: 50%;
  transition: .2s;
  cursor: pointer;
  color: teal;
}
input[type="radio"]:hover, input[type="radio"]:checked {
  background: #363945;
  box-shadow: inset 0 0 0 .3rem white, 0 0 0 .3rem ;
}
input[type="radio"]:checked {
  background: #004d40 ;
  box-shadow: inset 0 0 0 .3rem white, 0 0 0 .3rem teal;
}
input[type="radio"]:focus {
  outline: 0;
}

input[type="checkbox"] {
  appearance: none;
  margin: 0.32rem;
  width: 1.3rem;
  height: 1.3rem;
  background: #eeeeee;
  box-shadow: inset 0 0 0 .4em white, 0 0 0 .3em;
  border-radius: 50%;
  transition: .2s;
  cursor: pointer;
  color: teal;
}

input[type="checkbox"]:hover, input[type="checkbox"]:checked {
  background: #363945;
  box-shadow: inset 0 0 0 .6em white, 0 0 0 .3em ;
}

input[type="checkbox"]:checked {
  background: #004d40 ;
  box-shadow: inset 0 0 0 .1em white, 0 0 0 .3em teal ;
}

input[type="checkbox"]:focus {
  outline: 0;
}



/* select:focus{ outline: none; }
.input-field{ margin-bottom: 40px; padding: 0px; position: relative; }
select { width: 100%;  height: 35px; padding: 5px; border: solid 1px rgb(150,150,150); 
  padding-left: 9px; font-size: 14px; color: #424242 ; background: #fff; font-weight: 400;
		letter-spacing: 1px; }
select:hover{border: solid 1px rgb(0,0,0);}
select:disabled{opacity: 0.4;
    						filter: alpha(opacity=40);}
select:focus{ border-bottom: 2px solid teal; }
select:hover + label{ color: teal; font-size: 12px; font-weight: bold;}
select:focus + label{ top: -25px; color: teal; } */





  input[type="submit"], input[type="button"], .btn{
  display: inline-block;
  height: 2rem;
  margin-bottom: 1rem;
  padding: 0 2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  border-radius: 0.2rem;
  background-clip: padding-box;
  line-height: 2rem;
  text-transform: uppercase;
  border: none;
  outline: 0;
  -webkit-tap-highlight-color: transparent; }

input[type="submit"].disabled, input[type="submit"]:disabled, input[type="button"].disabled, input[type="button"]:disabled {
  background-color: #DFDFDF;
  box-shadow: none;
  color: #9F9F9F;
  cursor: default; }
input[type="submit"].disabled:hover, input[type="submit"]:disabled:hover, input[type="button"].disabled:hover, input[type="button"]:disabled:hover {
    background-color: #DFDFDF;
    color: #9F9F9F; }

input[type="submit"] i, input[type="button"] i {
  font-size: 1.3rem;
  line-height: inherit; }

input[type="submit"], input[type="button"], .btn {
  text-decoration: none;
  color: #FFF;
  font-size: 0.75rem;
  background-color: #26a69a;
  text-align: center;
  letter-spacing: 0.05rem;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  cursor: pointer; }
input[type="submit"]:hover, input[type="button"]:hover {
    background-color: #2bbbad; }

    

/*   input[type="button"]{
  display: inline-block;
  height: 2rem;
  margin-bottom: 15px;
  padding: 0 2rem;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
  line-height: 36px;
  text-transform: uppercase;
  border: none;
  outline: 0;
  -webkit-tap-highlight-color: transparent; }

input[type="button"].disabled, input[type="button"]:disabled {
  background-color: #DFDFDF;
  box-shadow: none;
  color: #9F9F9F;
  cursor: default; }
input[type="button"].disabled:hover, input[type="button"]:disabled:hover {
    background-color: #DFDFDF;
    color: #9F9F9F; }

input[type="button"] i {
  font-size: 1.3rem;
  line-height: inherit; }

input[type="button"] {
  text-decoration: none;
  color: #FFF;
  background-color: #26a69a;
  text-align: center;
  letter-spacing: 0.5px;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  cursor: pointer; }
input[type="button"]:hover {
    background-color: #2bbbad; } */

input[placeholder] {
    background-color: rgba(25, 37, 37, 0.3);
    color: rgba(241, 241, 241, 0.7);
     }

::-webkit-input-placeholder {
    font-weight: 300;
    font-style: italic;
    letter-spacing: 0px;
}
:-moz-placeholder {
    font-weight: 300;
    font-style: italic;
    letter-spacing: 0px;
}
::-moz-placeholder {
    font-weight: 300;
    font-style: italic;
    letter-spacing: 0px;
}
:-ms-input-placeholder {
    font-weight: 300;
    font-style: italic;
    letter-spacing: 0px;
}


/*   .toast button, .toast .btn, .toast .btn-large, .toast .btn-flat {
    margin: 0;
    margin-left: 3rem; }
  
  
  button, .btn, .btn-large, .btn-flat {
  display: inline-block;
  height: 36px;
  margin-bottom: 15px;
  padding: 0 2rem;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
  line-height: 36px;
  text-transform: uppercase;
  border: none;
  outline: 0;
  -webkit-tap-highlight-color: transparent; }

button.disabled, .btn.disabled, .disabled.btn-large, .btn-floating.disabled, .btn-large.disabled, .btn:disabled, .btn-large:disabled, .btn-large:disabled, .btn-floating:disabled {
  background-color: #DFDFDF;
  box-shadow: none;
  color: #9F9F9F;
  cursor: default; }
  button.disabled:hover, .btn.disabled:hover, .disabled.btn-large:hover, .btn-floating.disabled:hover, .btn-large.disabled:hover, .btn:disabled:hover, .btn-large:disabled:hover, .btn-large:disabled:hover, .btn-floating:disabled:hover {
    background-color: #DFDFDF;
    color: #9F9F9F; }

button i, .btn i, .btn-large i, .btn-floating i, .btn-large i, .btn-flat i {
  font-size: 1.3rem;
  line-height: inherit; }

button, .btn, .btn-large {
  text-decoration: none;
  color: #FFF;
  background-color: #26a69a;
  text-align: center;
  letter-spacing: 0.5px;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  cursor: pointer; }
  button:hover, .btn:hover, .btn-large:hover {
    background-color: #2bbbad; }

.btn-floating {
  display: inline-block;
  color: #FFF;
  position: relative;
  z-index: 1;
  width: 37px;
  height: 37px;
  line-height: 37px;
  padding: 0;
  background-color: #26a69a;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-clip: padding-box;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer; }
  .btn-floating i {
    width: inherit;
    display: inline-block;
    text-align: center;
    color: #FFF;
    font-size: 1.6rem;
    line-height: 37px; }
  .btn-floating.btn-large {
    width: 55.5px;
    height: 55.5px; }
    .btn-floating.btn-large i {
      line-height: 55.5px; }

button.btn-floating {
  border: none; }

.fixed-action-btn {
  position: fixed;
  right: 23px;
  bottom: 23px;
  padding-top: 15px;
  margin-bottom: 0;
  z-index: 1000; }
  .fixed-action-btn ul {
    left: 0;
    right: 0;
    text-align: center;
    position: absolute;
    bottom: 64px; }
    .fixed-action-btn ul li {
      margin-bottom: 15px; }
    .fixed-action-btn ul a.btn-floating {
      -ms-filter: "progid:DXImageTransform@mixin Microsoft@mixin Alpha(Opacity=${iefactor})";
      filter: "alpha(opacity=(${iefactor}))";
      -moz-opacity: 0;
      -khtml-opacity: 0;
      opacity: 0; }

.btn-flat {
  box-shadow: none;
  background-color: transparent;
  color: #343434;
  cursor: pointer; }
  .btn-flat.disabled {
    color: #b3b3b3;
    cursor: default; }

.btn-large {
  height: 54px;
  line-height: 56px; }
  .btn-large i {
    font-size: 1.6rem; } */
    
    .nopadding {padding:0px !important;}
    
th{color: white;}
.noborder > thead > tr > th,
.noborder > tbody > tr > th,
.noborder > tfoot > tr > th,
.noborder > thead > tr > td,
.noborder > tbody > tr > td,
.noborder > tfoot > tr > td {border: none !important}

input + label::after { 
    content: " :";
}
input[ng-required="true"] + label::after { 
    content: " : *";
}

input[required] + label::after { 
    content: " : *";
}
textarea + label::after { 
    content: " :";
}

textarea[ng-required="true"] + label::after { 
    content: " : *";
}

textarea[required] + label::after { 
    content: " : *";
}
select + label::after { 
    content: " :";
}

select[ng-required="true"] + label::after { 
    content: " : *";
}

select[required] + label::after { 
    content: " : *";
}
