.divTble1
    {
        display:  table;
        width:100%;
        border:0px solid #000;
        border-spacing:0px;/*cellspacing:poor IE support for  this*/
       /* border-collapse:separate;*/
    }

}
.CSSTleGeneratorss {
	             padding: 0px;
	             width: 200px;
	             border: 0px solid #000000;
	             border-top-left-radius: 0px;
                 }

.CSSTleGeneratorss table {
	                   border-collapse: collapse;
	                   border-spacing: 0;
	                   width: 99.2%;
	                   height: 100%;
	                   margin: 0px;
	                   padding: 0px;
                       }

.CSSTleGeneratorss td {
	                  vertical-align: middle;
	                  border: 1px solid #000000;
	                  text-align: center;
	                  padding: 2px;
	                  height:16px;
	                  font-size: 8px;
	                  font-family: Arial;
	                  font-weight: normal;
	                  color: #000000;
                      }

.CSSTleGeneratorss tr:first-child td {
	                                 background-color: #ff7f00;
	                                 border: 0px solid #000000;
	                                 text-align: center;
	                                 border-width: 1px 1px 1px 1px;
	                                 font-size: 9px;
	                                 font-family: Arial;
	                                 font-weight: bold;
	                                 color: #ffffff;
                                     }

   

    .dRow1
    {
	   border:0px solid #000;
       width:107%;
      
    }
    
     .hdRow1
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:106%;
        background-color:#ccc;
		border: 1px solid #000;
		height:106px;
    }
    
    .dCel1
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:50%;
        background-color:#ccc;
		border: 0px solid #000;
		height:106px;
    }

    .dCel01
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:368px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
    }
    
    .dCel02
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:300px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
    }
    .dCel03
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:350px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
	
    }
    
     .dCel04
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:678px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
	
    }
    
    
      .dCel25
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:460px;
        border: 1px solid #000; text-align:center;
	
    }
    
    
     .dCel26
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:279px;
		border: 1px solid #000; text-align:center;
	
    }
    
    
    .dCel05
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:220px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
	
    }
    
.dCel06
   {
       float:left;/*fix for  buggy browsers*/
       display:table-column;
       width:330px;
       background-color:#ccc;
        text-align:center;
    
   }
   
   .dCel066
   {
       float:left;/*fix for  buggy browsers*/
       display:table-column;
       width:340px;
       background-color:#ccc;
        border: 1px solid #000; text-align:center;
    
   }


  .dCel07
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:380px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
	
    }
    
    .dCel08
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:240px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
    }
    
    .dCel09
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:340px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
    }



  .dCel10
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:300px;
        background-color:#ccc;
		text-align:center;
	
    }
    
    .dCel11
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:300px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
	
    }
    
     .dCel12
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:75px;
        background-color:#ccc;
        border: 1px solid #000; text-align:center;
	
    }
    
      .dCel00
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:184px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
	
    }
    .dCel13
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:96px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
    }


   .dCel14
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:87px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
    }
    
    .nextrow{
             float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:844px;
        background-color:#ccc;
		border: 0px solid #000; text-align:center;
           }
           
     .nextrow1{
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:175px;
        background-color:#ccc;
		border: 0px solid #000; text-align:center;
           }
           
    .dCel141
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:87px;
        height:62px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
    }
  
  
  .dCel15
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:auto;
        background-color:#ccc;
		text-align:center;
	
    }
       
  .dCel16
  
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:844px;
        background-color:#ccc;
	    
    }
    
    
  .dCel17
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:618px;
        height:50px;
        text-align:left;
        background-color:#ccc;
		border: 1px solid #000;
	
    }
    
     .dCel18
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:220px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
	
    }
    
    
     .dCel19
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:190px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
	
    }
    
    
    .dCel20
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:422px;
        background-color:#ccc;
		border: 1px solid #000;
	
    }


.dCel21
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:99.10%;
        background-color:#ccc;
		border: 1px solid #000;
	
    }
    
    
    .dCel22
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:900px;
        background-color:#ccc;
		text-align:center;
	
    }
    
    
    .dCel23

    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:650px;
        background-color:#ccc;
		text-align:center;
	
    }
     .dCel24
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:250px;
        background-color:#ccc;
		text-align:center;
	
    }
    
  .dCel28
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:617px;
        background-color:#ccc;
        text-align:center;
    
    }
    
    
    
     .dCel30
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:401px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
	
    }
    
     .dCel31
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:617px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
		padding:5px;
    }
    
     
 .dCel32
       {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:390px;
        background-color:#ccc;
       }
.pdng{padding:1px;}
.bdbl{font-weight:bold; font-size:12px;}
.bd1bl{font-weight:bold; font-size:10px;}
.bd2bl{font-size:10px;}
.pddingbl{padding:8px;}
.pdding1bl{padding:15px;}
.pdding2bl{padding:22px;}
.pdding3bl{padding:10px; text-align:center;}
.pdding00bl{
           padding:1px;
           font-size:10px;
           font-weight:bold;
            }

    .dbdrbl{border-right:0px solid #000; border-top:1px solid #000; border-left:1px solid #000;}
	.dbdr1bl{border-right:1px solid #000; border-top:1px solid #000; border-left:0px solid #000;}