.divTable1
    {
        display:  table;
        width:100%;
        border:0px solid #000;
        border-spacing:0px;/*cellspacing:poor IE support for  this*/
       /* border-collapse:separate;*/
    }

}
.CSSTableGeneratorss {
	             padding: 0px;
	             width: 200px;
	             border: 0px solid #000000;
	             border-top-left-radius: 0px;
                 }

.CSSTableGeneratorss table {
	                   border-collapse: collapse;
	                   border-spacing: 0;
	                   width: 99.2%;
	                   height: 100%;
	                   margin: 0px;
	                   padding: 0px;
                       }
                                 .latterh{
	                                 background-color: #ff7f00;
	                                 border: 1px solid #000000;
	                                 text-align: center;
	                                 font-size: 9px;
	                                 font-family: Arial;
	                                 color: #ffffff;
	                                 height:33px;
	                                 vertical-align: middle;
	                                 
                                     }

    .latterbold{font-weight:bold;}
   

    .divRow1
    {
	   border:0px solid #000;
       width:107%;
      
    }
    
     .headRow1
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:106%;
        background-color:#ccc;
		border: 1px solid #000;
		height:106px;
    }
    
    .divCel1
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:50%;
        background-color:#ccc;
		border: 0px solid #000;
		height:106px;
    }

    .divCel01
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:368px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
    }
    
    .divCel02
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:300px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
    }
    .divCel03
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:350px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
	
    }
    
     .divCel04
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:678px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
	
    }
    
    
      .divCel25
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:460px;
        border: 1px solid #000; text-align:center;
	
    }
    
    
     .divCel26
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:279px;
		border: 1px solid #000; text-align:center;
	
    }
    
    
    .divCel05
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:170px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
	
    }
    
.divCel06
   {
       float:left;/*fix for  buggy browsers*/
       display:table-column;
       width:330px;
       background-color:#ccc;
        text-align:center;
    
   }
   
   .divCel066
   {
       float:left;/*fix for  buggy browsers*/
       display:table-column;
       width:340px;
       background-color:#ccc;
        border: 1px solid #000; text-align:center;
    
   }


  .divCel07
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:380px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
	
    }
    
    .divCel08
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:240px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
    }
    
    .divCel09
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:340px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
    }



  .divCel10
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:300px;
        background-color:#ccc;
		text-align:center;
	
    }
    
    .divCel11
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:300px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
	
    }
    
     .divCel12
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:75px;
        background-color:#ccc;
        border: 1px solid #000; text-align:center;
	
    }
    
      .divCel00
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:100px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
	
    }
    .divCel13
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:96px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
    }


   .divCel14
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:87px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
    }
  
  .divCel15
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:auto;
        background-color:#ccc;
		text-align:center;
	
    }
       
  .divCel16
  
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:844px;
        background-color:#ccc;
	    
    }
    
    
  .divCel17
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:844px;
        background-color:#ccc;
		border: 1px solid #000;
	
    }
    
     .divCel18
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:192px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
	
    }
    
    
     .divCel19
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:190px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
	
    }
    
    
    .divCel20
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:422px;
        background-color:#ccc;
		border: 1px solid #000;
	
    }


.divCel21
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:99.10%;
        background-color:#ccc;
		border: 1px solid #000;
	
    }
    
    
    .divCel22
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:900px;
        background-color:#ccc;
		text-align:center;
	
    }
    
    
    .divCel23

    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:650px;
        background-color:#ccc;
		text-align:center;
	
    }
     .divCel24
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:250px;
        background-color:#ccc;
		text-align:center;
	
    }
    
    
   
    
    
     .divCel27
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:135px;
        background-color:#ccc;
        border: 1px solid #000; text-align:center;
    
    }
    
    
    
  .divCel28
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:617px;
        background-color:#ccc;
        text-align:center;
    
    }
    
    
     .divCel29
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:212px;
        background-color:#ccc;
        border: 1px solid #000; text-align:center;
    
    }
    
     .divCel30
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:401px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
	
    }
    
    
     .divCel31
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:617px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
		padding:5px;
    }
    
     
     .divCel32
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:390px;
        background-color:#ccc;
				
    }




.pdng{padding:1px;}
.boldbl{font-weight:bold; font-size:12px;}
.bold1bl{font-weight:bold; font-size:10px;}
.bold2bl{font-size:10px;}
.paddingbl{padding:8px;}
.padding1bl{padding:15px;}
.padding2bl{padding:22px;}
.padding3bl{padding:10px; text-align:center;}
.padding00bl{
           padding:1px;
           font-size:10px;
           font-weight:bold;
            }

    .divbdrbl{border-right:0px solid #000; border-top:1px solid #000; border-left:1px solid #000;}
	.divbdr1bl{border-right:1px solid #000; border-top:1px solid #000; border-left:0px solid #000;}