 .divTablelld
    {
        display:  table;
        width:100%;
        border:0px solid #000;
        border-spacing:0px;/*cellspacing:poor IE support for  this*/
       /* border-collapse:separate;*/
    }

    .divRowlld
    {
	   border:0px solid #000;
       width:100%;
    }
    
     .myheadRowlld
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:100%;
        background-color:#ccc;
		border: 0px solid #000;
		height:130px;
    }
    
    .mylatterhead{
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:100%;
        background-color:#ccc;
		border: 0px solid #000;
		height:100px;
       }
       
       .mylatterhead1{
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:100%;
        background-color:#ccc;
		border: 0px solid #000;
		text-align:center;
		height:20px;
		margin-top:10px;
		font-size:19px;
		font-weight:bold;
       }
       .mylatterhead14{
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:100%;
        background-color:#ccc;
		border: 0px solid #000;
		text-align:center;
		height:20px;
		margin-top:10px;
		font-size:17px;
		font-weight:bold;
       }
       
        .mylatterhead2{
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:50%;
        background-color:#ccc;
		border: 0px solid #000;
		text-align:;
		height:20px;
		margin-top:10px;
		font-size:15px;
		font-weight:bold;
       }

.mylatterhead3{
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:100%;
        background-color:#ccc;
		border: 0px solid #000;
		text-align:center;
		margin-top:10px;
		font-size:15px;
		font-weight:bold;
       }

 .mylatterhead4{
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:100%;
        background-color:#ccc;
		border: 0px solid #000;
		text-align:;
		margin-top:10px;
		font-size:15px;
       }

.mylatterhead5{
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:100%;
        background-color:#ccc;
		border: 0px solid #000;
		text-align:;
		margin-top:5px;
		margin-left:20px;
		font-size:15px;
       }
       
       .mylatterhead6{
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        background-color:#ccc;
		border-bottom: 1px solid #000;
		text-align:center;
		margin-top:20px;
		font-weight:bold;
		text-transform: capitalize;
		width:100%;
		font-family:arial;
		font-size:26px;
       }
       
      .mylatterhead7{
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:100%;
        background-color:#ccc;
		border: 0px solid #000;
		text-align:center;
		font-size:16px;
		text-transform: capitalize;
       }

.CSSTableGeneratorhd {
	             padding: 0px;
	             width: 100%;
	             border: 0px solid #000000;
	             border-top-left-radius: 0px;
                 }

.CSSTableGeneratorhd table {
	                   border-collapse: collapse;
	                   border-spacing: 0;
	                   width: 100%;
	                   height: 100%;
	                   margin: 0px;
	                   padding: 0px;
                       }

.CSSTableGeneratorhd td {
	                  vertical-align: center;
	                  border: 1px solid #000000;
	                  font-size: 12px;
	                  font-family: Arial;
	                  font-weight: normal;
	                  padding:5px;
	                  color: #000000;
                      } 

.CSSTableGeneratorhd tr:first-child td {
	                                 background-color: #ff7f00;
	                                 border: 0px solid #000000;
	                                 border-width: 1px 1px 1px 1px;
	                                 font-size: 12px;
	                                 font-family: Arial;
	                                 font-weight: ;
	                                 color: #ffffff;
	                                 padding:5px;
	                                 width:50%;
                                     }

              .csstd {
	                  vertical-align: middle;
	                  border: 1px solid #000000;
	                  font-size: 16px;
	                  font-family: Arial;
	                  font-weight: normal;
	                  color: #000000;
	                  padding:5px;
                      } 

              .csstd1{
	                  font-size: 10px;
	                  font-family: Arial;
	                  font-weight: normal;
	                  margin-left:40px;
                      } 
                      
              .csstd2{
	                  font-size: 18px;
	                  font-family: Arial;
	                  font-weight: normal;
	                  margin-left:16px;
                      } 

                      .spc{
                         margin-top:40px;
                     }