.divTaz
    {
        display:  table;
        width:100%;
        border:0px solid #000;
        border-spacing:0px;/*cellspacing:poor IE support for  this*/
       /* border-collapse:separate;*/
    }

}
.CTableGeneratorss {
	             padding: 0px;
	             width: 200px;
	             border: 0px solid #000000;
	             border-top-left-radius: 0px;
                 }

.CTableGeneratorss table {
	                   border-collapse: collapse;
	                   border-spacing: 0;
	                   width: 99.2%;
	                   height: 100%;
	                   margin: 0px;
	                   padding: 0px;
                       }
                                 .mtterh{
	                                 background-color: #ff7f00;
	                                 border: 1px solid #000000;
	                                 text-align: center;
	                                 font-size: 9px;
	                                 font-family: Arial;
	                                 color: #ffffff;
	                                 height:33px;
	                                 vertical-align: middle;
	                                 
                                     }

    .mtterbold{font-weight:bold;}
   

    .mrRow1
    {
	   border:0px solid #000;
       width:107%;
      
    }
    
     .mrhRow1
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:106%;
        background-color:#ccc;
		border: 1px solid #000;
		height:106px;
    }
    
    .mrCel1
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:50%;
        background-color:#ccc;
		border: 0px solid #000;
		height:106px;
    }

    .mrCel01
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:368px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
    }
    
    .mrCel02
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:300px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
    }
    .mrCel03
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:350px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
	
    }
    
     .mrCel04
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:678px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
	
    }
    
    
      .mrCel25
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:460px;
        border: 1px solid #000; text-align:center;
	
    }
    
    
     .mrCel26
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:279px;
		border: 1px solid #000; text-align:center;
	
    }
    
    
    .mrCel05
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:170px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
	
    }
    
.mrCel06
   {
       float:left;/*fix for  buggy browsers*/
       display:table-column;
       width:330px;
       background-color:#ccc;
        text-align:center;
    
   }
   
   .mrCel066
   {
       float:left;/*fix for  buggy browsers*/
       display:table-column;
       width:340px;
       background-color:#ccc;
        border: 1px solid #000; text-align:center;
    
   }


  .mrCel07
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:380px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
	
    }
    
    .mrCel08
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:240px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
    }
    
    .mrCel09
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:340px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
    }



  .mrCel10
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:300px;
        background-color:#ccc;
		text-align:center;
	
    }
    
    .mrCel11
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:300px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
	
    }
    
     .mrCel12
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:75px;
        background-color:#ccc;
        border: 1px solid #000; text-align:center;
	
    }
    
      .mrCel00
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:100px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
	
    }
    .mrCel13
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:96px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
    }


   .mrCel14
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:87px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
    }
  
  .mrCel15
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:auto;
        background-color:#ccc;
		text-align:center;
	
    }
       
  .mrCel16
  
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:844px;
        background-color:#ccc;
	    
    }
    
    
  .mrCel17
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:844px;
        background-color:#ccc;
		border: 1px solid #000;
	
    }
    
     .mrCel18
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:192px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
	
    }
    
    
     .mrCel19
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:190px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
	
    }
    
    
    .mrCel20
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:422px;
        background-color:#ccc;
		border: 1px solid #000;
	
    }


.mrCel21
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:99.10%;
        background-color:#ccc;
		border: 1px solid #000;
	
    }
    
    
    .mrCel22
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:900px;
        background-color:#ccc;
		text-align:center;
	
    }
    
    
    .mrCel23

    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:650px;
        background-color:#ccc;
		text-align:center;
	
    }
     .mrCel24
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:250px;
        background-color:#ccc;
		text-align:center;
	
    }
    
    
     .mrCel27
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:135px;
        background-color:#ccc;
        border: 1px solid #000; text-align:center;
    
    }
    
    
    
  .mrCel28
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:617px;
        background-color:#ccc;
        text-align:center;
    
    }
    
    
     .mrCel29
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:212px;
        background-color:#ccc;
        border: 1px solid #000; text-align:center;
    
    }
    
     .mrCel30
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:99.1%;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
	
    }
    
    
     .mrCel31
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:617px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
		padding:5px;
    }
    
     
     .mrCel32
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:95%;
        background-color:#ccc;
				
    }


.mrpdng{padding:1px;}
.mrboldbl{font-weight:bold; font-size:12px;}
.mrbold1bl{font-weight:bold; font-size:10px;}
.mrbold2bl{font-size:10px;}
.mrpaddingbl{padding:8px;}
.mrpadding1bl{padding:15px;}
.mrpadding2bl{padding:22px;}
.mrpadding3bl{padding:10px; text-align:center;}
.mrpadding00bl{
            padding:15px;
            }

    .mrdivbdrbl{border-right:0px solid #000; border-top:1px solid #000; border-left:1px solid #000;}
	.mrdivbdr1bl{border-right:1px solid #000; border-top:1px solid #000; border-left:0px solid #000;}