.emdivTaz
    {
        display:  table;
        width:100%;
        border:0px solid #000;
        border-spacing:0px;/*cellspacing:poor IE support for  this*/
       /* border-collapse:separate;*/
    }

}
.emCSTableGeneratorss {
	             padding: 0px;
	             width: 200px;
	             border: 0px solid #000000;
	             border-top-left-radius: 0px;
                 }

.emCSTableGeneratorss table {
	                   border-collapse: collapse;
	                   border-spacing: 0;
	                   width: 99.2%;
	                   height: 100%;
	                   margin: 0px;
	                   padding: 0px;
                       }
                                 .emltterh{
	                                 background-color: #ff7f00;
	                                 border: 1px solid #000000;
	                                 text-align: center;
	                                 font-size: 9px;
	                                 font-family: Arial;
	                                 color: #ffffff;
	                                 height:33px;
	                                 vertical-align: middle;
	                                 
                                     }

    .emltterbold{font-weight:bold;}
   

    .emRow1
    {
	   border:0px solid #000;
       width:107%;
      
    }
    
     .emhRow1
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:106%;
        background-color:#ccc;
		border: 1px solid #000;
		height:106px;
    }
    
    .emCel1
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:50%;
        background-color:#ccc;
		border: 0px solid #000;
		height:106px;
    }

    .emCel01
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:368px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
    }
    
    .emCel02
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:300px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
    }
    .emCel03
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:350px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
	
    }
    
     .emCel04
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:678px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
	
    }
    
    
      .emCel25
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:460px;
        border: 1px solid #000; text-align:center;
	
    }
    
    
     .emCel26
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:279px;
		border: 1px solid #000; text-align:center;
	
    }
    
    
    .emCel05
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:360px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
	
    }
    
.emCel06
   {
       float:left;/*fix for  buggy browsers*/
       display:table-column;
       width:330px;
       background-color:#ccc;
        text-align:center;
    
   }
   
   .emCel066
   {
       float:left;/*fix for  buggy browsers*/
       display:table-column;
       width:340px;
       background-color:#ccc;
        border: 1px solid #000; text-align:center;
    
   }


  .emCel07
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:380px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
	
    }
    
    .emCel08
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:240px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
    }
    
    .emCel09
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:340px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
    }



  .emCel10
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:300px;
        background-color:#ccc;
		text-align:center;
	
    }
    
    .emCel11
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:300px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
	
    }
    
     .emCel12
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:75px;
        background-color:#ccc;
        border: 1px solid #000; text-align:center;
	
    }
    
      .emCel00
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:100px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
	
    }
    .emCel13
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:96px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
    }


   .emCel14
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:87px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
    }
  
  .emCel15
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:auto;
        background-color:#ccc;
		text-align:center;
	
    }
       
  .emCel16
  
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:844px;
        background-color:#ccc;
	    
    }
    
    
  .emCel17
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:844px;
        background-color:#ccc;
		border: 1px solid #000;
	
    }
    
     .emCel18
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:192px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
	
    }
    
    
     .emCel19
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:190px;
        background-color:#ccc;
		border: 0px solid #000; text-align:center;
	
    }
    
    
    .emCel20
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:422px;
        background-color:#ccc;
		border: 1px solid #000;
	
    }


.emCel21
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:99.10%;
        background-color:#ccc;
		border: 1px solid #000;
	
    }
    
    
    .emCel22
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:900px;
        background-color:#ccc;
		text-align:center;
	
    }
    
    
    .emCel23

    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:650px;
        background-color:#ccc;
		text-align:center;
	
    }
     .emCel24
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:250px;
        background-color:#ccc;
		text-align:center;
	
    }
    
    
     .emCel27
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:135px;
        background-color:#ccc;
        border: 1px solid #000; text-align:center;
    
    }
    
    
    
  .emCel28
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:617px;
        background-color:#ccc;
        text-align:center;
    
    }
    
    
     .emCel29
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:212px;
        background-color:#ccc;
        border: 1px solid #000; text-align:center;
    
    }
    
     .emCel30
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:99.1%;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
	
    }
    
    
     .emCel31
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:617px;
        background-color:#ccc;
		border: 1px solid #000; text-align:center;
		padding:5px;
    }
    
     
     .emCel32
    {
        float:left;/*fix for  buggy browsers*/
        display:table-column;
        width:95%;
        background-color:#ccc;
				
    }


.empdng{padding:1px;}
.emboldbl{font-weight:bold; font-size:12px;}
.embold1bl{font-weight:bold; font-size:10px;}
.embold2bl{font-size:10px;}
.empaddingbl{padding:8px;}
.empadding1bl{padding:15px;}
.empadding2bl{padding:22px;}
.empadding3bl{padding:10px; text-align:center;}
.empadding00bl{
            padding:15px;
            }
            
      .em1{
         padding:16px;
         }

    .emdivbdrbl{border-right:0px solid #000; border-top:1px solid #000; border-left:1px solid #000;}
	.emdivbdr1bl{border-right:1px solid #000; border-top:1px solid #000; border-left:0px solid #000;}